#
# http://editorconfig.org/
#
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_size = 4

[makefile]
indent_style = tab

[*.{md,markdown}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

[*.{html,twig,nunjucks}]
indent_style = space
indent_size = 2

[*.{js,css,sass,less,scss}]
indent_style = space
indent_size = 2

[*.{json,yml}]
indent_style = space
indent_size = 2

[*.go]
indent_style = tab
indent_size = 4
